.form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #171D1F;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #BCBCBC;
    border: none;
}

.button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #81FE88;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: #132E35;
    border: none;
    cursor: pointer;
}